<?xml version="1.0" encoding="UTF-8"?>headers

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-geolocation"
    version="0.1.0">
    <name>nat-geolocation</name>
    <description>get location</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,geo,location,geolocation</keywords>
    <repo>https://github.com/Natjs/weex-nat-geolocation.git</repo>
    <issue>https://github.com/Natjs/weex-nat-geolocation/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="Foundation.framework" />
         <framework src="CoreLocation.framework" />
         <framework src="NatGeolocation" type="podspec" spec="" />
         <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
             <string>$需要定位</string>
         </config-file>
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatGeo" />
                 <param name="api" value="nat/geolocation" />
             </feature>
         </config-file>
         
         <header-file src="ios/WeexNatGeo.h"/>
         <source-file src="ios/WeexNatGeo.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
     </platform>

</plugin>
